


.header {
     height: 95vh;
     background-image: linear-gradient(
        to right bottom,
    rgba($color-yellow-light, 0.7),
    rgba($color-yellow-dark,0.7)),
    url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
    (mix-width: 125em) {
      background-image: linear-gradient(
        to right bottom,
      rgba($color-yellow-light, 0.7),
      rgba($color-yellow-dark,0.7)),
    url(../img/nat-4.jpg);
    }

    &__logo-content {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        //  height:3.5rem;
         background-color: $color-white;
         color: $color-yellow-dark;
         border-bottom-left-radius: .3rem;
         border-bottom-right-radius: .3rem;
         padding: 1rem;
         
    }
    
    
    &__text-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

     /*Main nav */
  .main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
  }
  
  .main-nav li {
    display: inline-block;
    margin-left: 40px;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
    padding: 2px 0;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.9rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }
  
  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 2px solid $color-secondary-dark;
  }



}

